*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
   --empty-box-color:#F4DFBA;
    --p1-color:#EEC373;
   --p2-color:#CA965C;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 100vh;

    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .link{
        align-self: center;
           .git-icn{
               svg{
  width: 30px;
  height: 30px;
               }
              
           }
        }
        .logo-title{
            font-size: 3em;
            text-transform: capitalize;
            font-weight: 700;
        }
        .sub-heading{
            font-size: 1.2em;
             text-transform: capitalize;
        }
    }
section{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 2vw;
    .tools{
        display: flex;
        flex-direction: row;
       gap: 20px;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin: 30px auto;

       #pixel-1 {
background-color: var(--p1-color);

       }
       #pixel-2 {
           background-color: var(--p2-color);

       }

    }

    .pixelbox{
        background-color: var(--empty-box-color);
        width: 250px;
        height: 250px;
        display: flex;
        
        flex-wrap: wrap;
        gap: 0;

        div{
           background-color: var(--empty-box-color);
            
        }
        
    }
}
}








input{
    text-align: center;
    outline: none;
    border: none;
 font-size: 1.4em;
 color: black;
 border-radius: 10px;
       width: 200px;
       padding: 10px 1px;
       opacity: 0.8;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:focus{

 opacity: 1;
}


